.header_container {
  height: 110px;
  width: 100vw;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
}

.header_bottom {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  @apply bg-secondary;
  box-shadow: 0px 2px 0px 0px rgba(249, 201, 1, 1);
  -webkit-box-shadow: 0px 2px 0px 0px rgba(249, 201, 1, 1);
  -moz-box-shadow: 0px 2px 0px 0px rgba(249, 201, 1, 1);
}

.logo_box {
  width: 60px;
  height: 40px;
}

@media screen and (min-width: 778px) {
  .logo_box {
    height: 4rem;
    width: 8.5rem;
  }
  .header_container {
    height: 160px;
  }
  .header_bottom {
    height: 35%;
  }
  .cart_count {
    left: 2.8rem;
  }
}

.menu_button {
  height: 28px;
  width: 28px;
  background-image: url("../../Assets/menu-btn.svg");
  background-position: center;
  background-size: contain;
  cursor: pointer;
}
.drp_menu {
  height: 28px;
  width: 28px;
  background-image: url("../../Assets/list.png");
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.shopping_cart {
  height: 33px;
  width: 30px;
  /* background-image: url("../../Assets/shopping.png"); */
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.search_icon {
  height: 25px;
  width: 25px;
  background-image: url("../../Assets/search\ icon.png");
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

@media screen and (min-width: 778px) {
  .cart_count {
   
    left: 1rem;
  }
}

.cart_count {
  height: 1.8rem;
  width: 1.8rem;
  @apply bg-white text-black;
  position: absolute;
  font-size: 12px;
  top: -0.1rem;
  right: -0.6rem;
  border: 1px solid;
  border-radius: 50%;
  border-color: seagreen;

  display: flex;
  align-items: center;
  justify-content: center;
}

.search_bar {
  position: relative;
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  @apply bg-white;
  padding: 0 0.75rem;
}

@media screen and (min-width: 778px) {
  .search_bar {
    max-width: 40%;
  }
}

.item_form:focus-within {
  border: 1px solid;
  @apply border-secondary;
}
.dropdownMenu {
  position: absolute;
      @apply   bg-primary;
  width: 100%;
  height: 75vh;
  /*overflow-y: auto;
  */overflow: hidden;
  /*visibility: hidden;
  */transform: translateY(100%);
  z-index: -1;
  transition: transform 0.3s ease-in-out;
  -webkit-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -ms-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
}


.dropdownMenu.open {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translate(0%);
  -webkit-transform: translate(0%);
  -moz-transform: translate(0%);
  -ms-transform: translate(0%);
  -o-transform: translate(0%);
}
