.header_container {
  height: 110px;
  width: 100vw;
  position: fixed;
  z-index: 100;
}
.logo_box {
  height: 38px;
  width: 45px;
  background-image: url("../../Assets/WhatsApp\ Image\ 2023-02-03\ at\ 12.26.27\ PM.jpeg");
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.menu_button {
  height: 28px;
  width: 28px;
  background-image: url("../../Assets/icons8-menu-48\ \(2\).png");
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.shopping_cart {
  height: 38px;
  width: 38px;
  background-image: url("../../Assets/shop-cart.svg");
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.favourite_cart {
  height: 28px;
  width: 28px;
  background-image: url("../../Assets/favourite.svg");
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.search_icon {
  height: 20px;
  width: 20px;
  background-image: url("../../Assets/icons8-search-50.png");
  background-position: center;
  background-size: cover;
  cursor: pointer;
  position: absolute;
  top: 7px;
  left: 9px;
}
.favorite_count {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 8px;
  right: 75px;
  border-radius: 50%;
  @apply bg-secondary;
  @apply text-primary;
  text-align: center;
}
.cart_count {
  height: 20px;
  width: 20px;
  @apply bg-tertiary;
  position: absolute;
  top: 8px;
  right: 25px;
  border-radius: 50%;
  @apply text-primary;
  text-align: center;
}

.search_bar {
  position: absolute;
  overflow: hidden;
  width: 100%;

  top: 60px;
}
