.header_container {
  height: 155px;
}
.logo_box {
  height: 38px;
  width: 45px;
  background-image: url("../../Assets/WhatsApp\ Image\ 2023-02-03\ at\ 12.26.27\ PM.jpeg");
  background-position: center;
  background-size: cover;
  cursor: pointer;
}
.sticky_menu_button {
  width: 30px !important;
  height: 25px !important;
}
.sticky_logo_box {
  width: 30px !important;
  height: 25px !important;
}
.sticky_cart_icon {
  width: 30px !important;
  height: 30px !important;
}

.menu_button {
  height: 38px;
  width: 45px;
  background-image: url("../../Assets/icons8-menu-48\ \(2\).png");
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.shopping_cart {
  height: 45px;
  width: 45px;
  background-image: url("../../Assets/shopping-cart.png");
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.search_icon {
  height: 20px;
  width: 20px;
  background-image: url("../../Assets/icons8-search-50.png");
  background-position: center;
  background-size: cover;
  cursor: pointer;

  position: absolute;
  top: 6px;
  left: 10px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
