.sidebar {
  width: 78%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  letter-spacing: 1px;
  line-height: 2;
  @apply bg-primary;
  @apply text-secondary;
  border-right: 1px solid #638c28;
  border-top: 1px solid #638c28;
  z-index: 1000;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  overflow-x: hidden;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -webkit-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -ms-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
}

.sidebar a:hover {
  @apply text-tertiary;
}

.show_sidebar {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}
