.sidebar {
  width: 78%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  letter-spacing: 1px;
  line-height: 2;
  @apply bg-primary;

  @apply text-secondary;
  border-right: 1px solid #638c28;
  border-top: 1px solid #638c28;
  z-index: 1000;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  overflow-x: hidden;
}

.table_header li a {
  font-size: 16px;
  padding-left: 10px;
  font-weight: bold;
}

.table_content li {
  width: 100%;
  border-bottom: 1px solid;
  border-color: #638c28;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 2;
  transition: 0.3s;
}

.sidebar a:hover {
  @apply text-tertiary;
}

.show_sidebar {
  transform: translateX(0);
}
