.bottom_container {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  /* height: auto; */
  height: 70px;
  z-index: 999;
}
.bottom_home {
  height: 30px;
  width: 30px;
  display: block;
  background-image: url("../../Assets//HomeE.png");
  background-position: center;
  background-size: cover;
  cursor: pointer;
}
.bottom_about {
  height: 30px;
  width: 30px;
  display: block;
  background-image: url("../../Assets/info.png");
  background-position: center;
  background-size: cover;
  cursor: pointer;
}
.bottom_store {
  height: 30px;
  width: 30px;
  display: block;

  background-image: url("../../Assets/store.png");
  background-position: center;
  background-size: cover;
  cursor: pointer;
}
.bottom_account {
  height: 30px;
  width: 30px;
  display: block;
  background-image: url("../../Assets/userprofile.png");
  background-position: center;
  background-size: cover;
  cursor: pointer;
}
.favourite_cart {
  height: 30px;
  width: 30px;
  display: block;
  background-image: url("../../Assets/edited.svg");
  background-position: center;
  background-size: cover;
  cursor: pointer;
}
.favorite_count {
  /* height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  top: 0.5rem;
  right: 6rem;
  border-radius: 50%;
  @apply bg-secondary;
  @apply text-primary;
  text-align: center; */
}
