.bottom_container {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
}
.bottom_home {
  height: 30px;
  width: 30px;
  display: block;
  background-image: url("../../Assets/home.png");
  background-position: center;
  background-size: cover;
  cursor: pointer;
}
.bottom_about {
  height: 30px;
  width: 30px;
  display: block;
  background-image: url("../../Assets/icons8-about-50.png");
  background-position: center;
  background-size: cover;
  cursor: pointer;
}
.bottom_store {
  height: 30px;
  width: 30px;
  display: block;
  background-image: url("../../Assets/icons8-online-store-24.png");
  background-position: center;
  background-size: cover;
  cursor: pointer;
}
.bottom_account {
  height: 30px;
  width: 30px;
  display: block;
  background-image: url("../../Assets/icons8-customer-50.png");
  background-position: center;
  background-size: cover;
  cursor: pointer;
}
