.section_slider {
  width: 100%;
  height: 40vh;
  position: relative;
  top: 9rem;
}
.section_center {
  margin: 0 auto;
  width: 95%;
  height: 100%;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;
}
@media screen and (min-width: 778px) {
  .section_slider {
    height: 80vh;
  }
  .section_center {
    width: 100%;
  }
}

article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
article.lastSlide {
  transform: translateX(-100%);
}
article.nextSlide {
  transform: translateX(100%);
}
.slider_content {
  position: absolute;
  left: 0;
  top: 80%;
  bottom: 0;
  right: 0;
  margin: 0 auto;
}
.title {
  text-align: center;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.text {
  /* max-width: 35em; */
  margin: 0 auto;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 1rem;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: whitesmoke;
  color: black;
  width: 2.25rem;
  height: 2.25rem;
  display: grid;
  place-items: center;
  border-color: transparent;
  font-size: 1rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s;
}
.prev:hover,
.next:hover {
  @apply bg-primary;
}
.prev {
  left: 0;
}
.next {
  right: 0;
}
.dropdown_content {
}
