.section_slider {
  width: 100%;
  height: 40vh;
  /* position: absolute;
  left: 50%;
  transform: translateX(-50%); */
  margin-top: 12rem;
  /* height: 60vh; */
}
.section_center {
  margin: 0 auto;
  /* margin-top: 4rem; */
  width: 95%;
  /* have to have a height */
  height: 100%;
  /* max-width: 800px; */
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;
}
@media screen and (min-width: 778px) {
  .section_slider {
    height: 60vh;
  }
  .section_center {
    width: 50%;
  }
}

/* .person_img {
  /* margin-bottom: 1rem; */
/*width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
} */

article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
article.lastSlide {
  transform: translateX(-100%);
}
article.nextSlide {
  transform: translateX(100%);
}
.slider_content {
  position: absolute;
  width: 70%;
  height: 40%;
  overflow: hidden;
  left: 0;
  top: 60%;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  /* transform: translate(); */
  background: rgba(250, 243, 237, 0.5);
  border-radius: 12px 12px 0 0;
}
.title {
  text-align: center;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.text {
  /* max-width: 35em; */
  margin: 0 auto;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 1rem;
}

.prev,
.next {
  position: absolute;
  top: 200px;
  transform: translateY(-50%);
  background: whitesmoke;
  color: black;
  width: 2.25rem;
  height: 2.25rem;
  display: grid;
  place-items: center;
  border-color: transparent;
  font-size: 1rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s;
}
.prev:hover,
.next:hover {
  @apply bg-primary;
}
.prev {
  left: 0;
}
.next {
  right: 0;
}
