@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "My Font";
  src: url("../Assets/Font/GTWalsheimPro-Regular.ttf") format("woff2");
}

html,
body {
  max-width: 100vw;
  font-size: 12px;
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  color: #222222;
  @apply bg-primary;
  font-family: My Font, sans-serif;
  line-height: 1.5;
}

@media screen and (min-width: 778px) {
  body {
    font-size: 16px;
  }
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 19px;
  }
}

.padding_inside {
  padding: 0 1.5rem;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.from-left {
  animation: moveInLeft 2s ease-in-out;
}
.from-right {
  animation: moveInRight 2s ease-in-out;
}
.from-bottom {
  animation: moveInBottom 2s ease-out;
}

h2 {
  letter-spacing: 3px;
  font-size: 2.2rem;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.25;
  margin: 1.75rem 0;
}

h3 {
  font-size: 1.75rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

h4 {
  font-weight: 600;
  text-transform: capitalize;
  line-height: 1.25;
  margin: 0.75rem 0;
  font-size: 1.75rem;
}

article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
img {
  background-position: center;
  background-size: cover;
}
.scrollable-content {
  overflow-y: scroll;
}
.scrollable-content::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}

.scrollable-content::-webkit-scrollbar-thumb {
  background-color: transparent;
}
ul li a:hover,
ul li a:focus,
ul li a:active {
  @apply text-honey;
}

@media screen and (min-width: 778px) {
  .grid_cols_5 {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
}
